@import "../../styles/_variables.pcss";

.container-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 480px;
    height: 640px;


    &-border {
        box-shadow: 0 0 5px 2px $shadow-grey;
        border-radius: 20px;
    }
}
