@import "../../styles/_variables.pcss";

.button {
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $white;
    }

    &_full-width {
        width: 100%;
    }

}
