.profile-content {

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.9fr 1fr 1fr;
        grid-gap: 10px;
        height: calc(100vh - 10px);
        margin: 0 30% 0 30%;

    }

    &__avatar-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
