.sign-up-form-content {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;

    &__submit-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

        * {
            margin: 4px;
        }
    }

}
